.wrapper {
  padding: 1rem;
  border-radius: 12px;
  margin-block: 1.4rem;
  display: flex !important;
  align-items: center;
  gap: 12px;
  background-color: rgba(90, 119, 251, 0.2);
  color: #5473fc;
}
