.wrapper {
  display: flex;
  justify-content: center;
}

.adb {
  width: 750px;
  border-radius: 12px;
  background-color: var(--gray-250);
  color: var(--gray-500);
  text-align: center;
  padding: 18px;
  margin-block: 5rem;
}

.title {
  margin-block: 5px;
  color: var(--gray-500);
}
